<h2>Költségek</h2>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>Dátum</th>
        <th>Típus</th>
        <th>Megjegyzés</th>
        <th>Költség</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{expense.date}}</td>
        <td>{{expense.type}}</td>
        <td>{{expense.description}}</td>
        <td>{{expense.amount}}</td>
      </tr>
    </tbody>
</table>

<h2>Új kiadás</h2>
<form (ngSubmit)="addExpense(dateInput.value, descriptionInput.value, amountInput.value, typeInput.value); f.reset()" #f="ngForm">

    <div class="form-group">
        <label for="typeInput">Típus</label>
        <select id="typeInput" class="form-control" name="typeInput" ngModel #typeInput>
            <option>ÉTEL</option>
            <option>SZÓRAKOZÁS</option>
            <option>LAKHATÁS</option>
          </select>
      </div>
  
      <div class="form-group">
        <label for="dateInput">Dátum</label>
        <input id="dateInput"
            type="date"
             placeholder="Dátum"
             class="form-control"
             name="dateInput"
             ngModel required #dateInput>
      </div>

      <div class="form-group">
          <label for="description">Leírás</label>
          <input id="description"
              type="text"
               placeholder="Leírás"
               class="form-control"
               name="description"
               ngModel required #descriptionInput>
        </div>

        <div class="form-group">
            <label for="amountInput">Mennyiség</label>
            <input id="amountInput"
                type="number"
                 placeholder="Mennyiség"
                 class="form-control"
                 name="amountInput"
                 ngModel required #amountInput>
          </div>
  

    <div class="form-group row col-lg-12 text-center">
      <div>
        <button id="btn-add"
                class="btn btn-success"
                type="submit"
                [disabled]="!f.valid">
          {{'add'}}
        </button>
      </div>
    </div>
  </form>


</div>


