<button (click)="changeLanguage()" class="btn">{{'changeLang' | localize}}</button>
<h2>{{'expenses' | localize}}</h2>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>{{'date' | localize}}</th>
        <th>{{'type' | localize}}</th>
        <th>{{'description' | localize}}</th>
        <th>{{'amount' | localize}}</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let expense of expenses">
        <td>{{expense.date}}</td>
        <td>{{expense.type}}</td>
        <td>{{expense.description}}</td>
        <td>{{expense.amount}}</td>
        <td><button (click)="deleteExpense(expense)" class="btn btn-danger">Törlés</button></td>
      </tr>
    </tbody>
</table>

<h2>{{'newExpense' | localize}}</h2>
<form (ngSubmit)="addExpense(dateInput.value, descriptionInput.value, amountInput.value, typeInput.value); f.reset()" #f="ngForm">

    <div class="form-group">
        <label for="typeInput">{{'type' | localize}}</label>
        <select id="typeInput" class="form-control" name="typeInput" ngModel #typeInput>
            <option *ngFor="let category of categories">{{category}}</option>
          </select>
      </div>
  
      <div class="form-group">
        <label for="dateInput">{{'date' | localize}}</label>
        <input id="dateInput"
            type="date"
             placeholder="{{'date' | localize}}"
             class="form-control"
             name="dateInput"
             ngModel required #dateInput>
      </div>

      <div class="form-group">
          <label for="description">{{'description' | localize}}</label>
          <input id="description"
              type="text"
               placeholder="{{'description' | localize}}"
               class="form-control"
               name="description"
               ngModel required #descriptionInput>
        </div>

        <div class="form-group">
            <label for="amountInput">{{'amount' | localize}}</label>
            <input id="amountInput"
                type="number"
                 placeholder="{{'amount' | localize}}"
                 class="form-control"
                 name="amountInput"
                 ngModel required #amountInput>
          </div>
  

    <div class="form-group row col-lg-12 text-center">
      <div>
        <button id="btn-add"
                class="btn btn-success"
                type="submit"
                [disabled]="!f.valid">
                {{'add' | localize}}
        </button>
      </div>
    </div>
  </form>

  <h2>{{'newCategory' | localize}}</h2>
<form (ngSubmit)="categories.push(categoryInput.value); categoryForm.reset()" #categoryForm="ngForm">


      <div class="form-group">
          <label for="categoryInput">{{'name' | localize}}</label>
          <input id="categoryInput"
              type="text"
               placeholder="{{'name' | localize}}"
               class="form-control"
               name="description"
               ngModel required #categoryInput>
        </div>
  

    <div class="form-group row col-lg-12 text-center">
      <div>
        <button class="btn btn-success"
                type="submit"
                [disabled]="!categoryForm.valid">
                {{'add' | localize}}
        </button>
      </div>
    </div>
  </form>


</div>


